{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Регистрация</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary btn-block" type="submit">Зарегистрироваться</button>
                </form>
                <div class="border-top pt-3 text-center">
                    <small class="text-muted">
                        Уже есть аккаунт? <a class="ml-2" href="{% url 'login' %}">Войти</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
